@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@400;700&display=swap');

:root {
   --ff-bebas: 'Bebas Neue', cursive;
   --ff-nunito: 'Nunito Sans', sans-serif;

   --color-heading: #1F170A;
   --color-text: #3E3E3E;
   --color-red: #FF3D00;
}